@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap");


/* body {
  font-family: "Montserrat", sans-serif;
} */

.mon {
  font-family: "Montserrat", sans-serif;
}

.san {
  font-family:  sans-serif;

}

.input {
  background-color: blueviolet;
}